Flask~=3.1.0
Flask-Migrate~=4.0.7
boto3~=1.35.81
requests~=2.32.3
Pillow~=11.0.0
icrawler~=0.6.9
python-dotenv~=1.0.1
celery~=5.4.0
psycopg2-binary==2.9.10
Flask-Login~=0.6.3
Werkzeug~=3.1.3
WTForms~=3.2.1
alembic~=1.14.0
SQLAlchemy~=2.0.36
gunicorn==23.0.0
Flask-WTF~=1.2.2
amqp==5.3.1
beautifulsoup4==4.12.3
billiard==4.2.1
blinker==1.9.0
botocore==1.35.81
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dnspython==2.7.0
email_validator==2.2.0
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
kombu==5.4.2
lxml==5.3.0
Mako==1.3.8
MarkupSafe==3.0.2
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
PyYAML==6.0.2
s3transfer==0.10.4
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
redis
Flask-Cors==5.0.0
greenlet==3.1.1
packaging==24.2
playwright==1.49.1
pyee==12.0.0
setuptools==75.6.0